* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.wrapper {
  border-top: 1px solid #e3e3e4;
}
.list-content ul li a{
  font-size: 15px;
  line-height: 22px;
  margin-top: 0px;
  cursor: pointer;
  color: grey;
  font-family: TikTokDisplayFont;
  font-weight: 700;
  text-decoration: none;
}
.tiktok{
  color: rgba(22, 24, 35, 0.5);
    font-family: "IBM Plex Sans", TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
    text-decoration: none;
    padding-left: 8px;
}
.list-content{
  margin-top: 20px;
.list{
  margin-top: 30px;
}
}
.list-content li{
  margin-bottom: 10px;
  padding-left: 8px;
}
.row{
  display: inline-block;
  line-height: 1.3;
}
.more{
  color: red;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  padding-top: 10px;
}
.username{
  font-weight: 600;
  font-size: 16px;
  color: white;
}
.displayName{
font-size: 12px;
text-align: left;
margin-bottom: 7px;
font-weight: 400;
color: white;
}
.account-list{
  display: inline-block;
  padding: 2px;
  padding-left: 10px;
}
.sidebar-content{
  justify-content: center;
  align-items: center;
  background-color: black;

  margin-top: 20px;
}
.images{
  width: 30px;
  border-radius: 50%;
  margin-right:10px

}
.profile {
  color: white;
  background: black;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin-top: 7px;
  font-size: 16px;
}
.profile img {
  width: 26px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  display: grid;
  place-items: center;
}
.profile h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 70%;
  margin-left: 5px;
}
.sidebar-list {
  height: auto;
  width: 100%;
  padding: 0;
}
.account-list{
  height: auto;
  width: 100%;
 
}
.sidebar-list .row {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  margin: 0%;
  color: white;
  justify-content: center;
  align-items: center;
}
.sidebar-list .row:hover {
  cursor: pointer;
  background-color: #293846;
  color: red;
}
.icon{
  font-size: 22px;
}
.row .icon {
  flex: 20%;
  display: grid;
  place-items: center;

}
.row .title {
  flex: 70%;
  font-weight: 600;
}
footer {
  width: 100%;
  display: none;
  padding: 12px 12px;
  background-color: var(--mainColor);
  color: var(--textColor);
  gap: 4.3rem;
}
footer .text-name {
  font-size: 12px;
  text-decoration: none;
  color: black;
}
footer .abc {
  border: none;
  outline: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header {
  width: 100%;
  display: none;
  align-items: center;
  height: 80px;
  padding: 0 1rem;
  background-color: var(--mainColor);
  color: var(--textColor);
  position: fixed;
}
.follow{
  color: grey;
  font-weight: 600;
  line-height: 18px;
  font-size: 14px;
  padding: 0px 8px;
    margin-bottom: 8px;
    margin-top: 30px;
    padding-left: 10px;
}
nav a {
  margin: 0 0.6rem;
  color: gray;
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

button {
  border: none;
  outline: none;
  font-size: 20px;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  color: var(--textColor);
  border: none;
  outline: none;
  font-size: 25px;
  margin-top: 3px;
}

header div,
nav {
}

.header1 {
  background-color: aqua;
  min-height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.app-container {
  display: flex;
  min-height: calc(100vh - 4rem);
  background-color: coral;
}

.sidebar-container {
  width: 232px;
  min-height: 682px;
  background-color: black;
  padding: 20px 0px 26px 8px;
}

.content-container {
  display: flex;
  flex-grow: 1;
}

.search-input input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid gainsboro;
  border-radius: 40px;
  padding: 10px 45px 10px 40px;
  color: gray;
}

@media screen and (max-width: 1062px) {
  .sidebar-container {
    width: 72px;
    height: 581px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar-container {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
  }
  .header-container {
    display: none;
  }

  .app-container {
    display: none;
  }
}
